@import url("https://fonts.googleapis.com/css2?family=Roboto");

:root {
  --font: "Roboto Mono", monospace;
  --amarelo: #e4d329;
  --azulMar: #478b8d;
  --azulEsc: #294669;
  --azulMEsc: #0d0b61;
}

* {
    padding: 0;
    margin: 0;
}


#ahh {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--azulEsc); 
    font-family: var(--font);
    align-items: center;
}

#header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 4rem;
    gap: 10px;
    align-items: center;
    background-color: var(--amarelo);
    font-family: var(--font);
}

#pato {
    width: 4rem;
    height: 4rem;
    margin: 0 10px;
}

#titulo {
    display: flex;
    flex-direction: row;
    padding: 0 2.5rem 0 1rem;
    align-items: center;
}

#titulo h2 {
    width: 10rem;
    height: 4rem;
    font-size: 3.5rem;
}

#entrar {
    display: flex;
    flex-direction: row;
    width: 30rem; 
    height: 3rem;
    border: 1px solid black;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#header input {
    width: 6rem;
    height: 2rem;
    font-size: 1.5rem;
}

label {
    display: block;
}

#header button {
    width: 6rem;
    height: 2rem;
    font-size: 1.5rem;
}

#ligaAtual {
    font-size: 3rem;
}

#main {
    display: flex;
    flex-direction: row;
}

.leaderboard {
    background-color: var(--azulMar);
}

#ligasAtivas {
}
