/*Paleta de cor:
	35858E	azul
	7DA78C  verde musgo
	C2D099  verde claro
	E6EEC9	branco      */

* {
  margin: 0px;
  padding: 0px;
}

body {
/*  display: flex;*/
}

#container {
  diplay: flex;
}

#teclado {
  display: grid;
  width: 800px;
  height: 200px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}

.key {
  border: 2px solid black;
  border-radius: 10px;
  
}
