@import url("https://fonts.googleapis.com/css2?family=Roboto");

:root {
  --font: "Roboto Mono", monospace;
  --amarelo: #e4d329;
  --azulMar: #478b8d;
  --azulEsc: #294669;
  --azulMEsc: #0d0b61;
}

* {
    width: 0;
    height: 0;
    margin: 0;
    box-sizing: border-box;
}


#ahh {
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: var(--azulEsc); 
}

#header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 4rem;
    gap: 10px;
    align-items: center;
    background-color: var(--amarelo);
}

#pato {
    width: 4rem;
    height: 4rem;
}

#entrar {
    display: flex;
    flex-direction: row;
    width: 30rem; 
    height: 3rem;
    border: 1px solid black;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

input {
    width: 6rem;
    height: 2rem;
}

label {
    display: block;
}

#header button {
    width: 6rem;
    height: 2rem;
}
